<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Entries</h1>
  </div>
  <div id="accounts" class="min-w-full">
    <%= render :partial => 'shared/table', :locals => {records: @entries, allow_delete: @allow_delete, allow_edit: @allow_edit} %>
  </div>
  <div id="pager" class="min-w-full my-8 flex justify-between">
    <div>
      <% if @pagy.prev %>
        <%= link_to "< Previous page", url_for(params.merge(page: @pagy.prev)), class: "btn-primary" %>
        <% end %>
      </div>
      <div class="text-right">
        <% if @pagy.next %>
        <%= link_to "Next page >", url_for(params.merge(page: @pagy.next )), class: "btn-primary" %>
        <% end %>
      </div>
    </div>
</div>
