@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .btn-primary {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded
  }
  .btn-small {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold text-center py-1 px-3 border border-blue-700 rounded
  }
}



.sort {
 position: relative;
 top:  1.2rem;
 left: 6.6rem;
 width: 0;
 height: 0;
 border-left: 6px solid transparent;
 border-right: 6px solid transparent;
 }

 .sort-desc {
 border-top: 8px solid #0000ff;
 }

 .sort-asc {
 border-bottom: 8px solid #0000ff;
 }
